<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee App</title>
  </head>
  <body class="container bg-body-tertiary">
    <!-- NAV -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CC-KOFF</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Order</a>
            <a class="nav-link" href="#">Stock</a>
            <a class="nav-link" href="#">Dashboard</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- MAIN -->
    <main class="container text-center mt-5">
      <div class="row">
        <!-- LEFT -->
        <div class="col">
          <img src="../assets/coffee.png" />
        </div>
        <!-- RIGHT -->
        <div class="col">
          <h1 class="my-5">Ehiopia - Yirgacheffe</h1>
          <form class="my-2">
            <!-- FROM ROW-1 -->
            <div class="row mb-3">
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text">$$</span>
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="product-price"
                      placeholder="Username"
                    />
                    <label for="floatingInputGroup1">Price</label>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text">$$</span>
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="product-quantity"
                      placeholder="Username"
                    />
                    <label for="floatingInputGroup1">Quantity</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="input-group mb-3">
                <span class="input-group-text">$$</span>
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="product-shipping"
                    placeholder="Username"
                  />
                  <label for="floatingInputGroup1">Shipping</label>
                </div>
              </div>
            </div>
    <!-- ERROR-BOX -->
            <div class="alert alert-danger" role="alert" id="error">
              Error!
            </div>

            <div class="row mt-4">
              <button type="button" class="btn btn-primary" id="total-btn">TOTAL</button>
            </div>

          </form>
        </div>
      </div>
    </main>

    <!-- TOTAL -->
    <div class="card">
        <div class="card-body">Total : <span id="result"></span> </div>
    </div>


  </body>
</html>
